{% extends 'index.html' %}

{% block content %}
  <div class="container p-3">
    <h2>Liste des contacts Mails</h2>
    <table id="myTable" class="table table-triped table-bordered">
      <thead>
        <tr>
          <td>Nom</td>
          <td>prenom</td>
          <td>addresse Mail</td>
          
          {% if tel %}
          <td>Téléhone</td>
          {% endif %}
            
        </tr>
      </thead>
      <tbody>
        {% for item in mails %}
          <tr>
            <td>{{ item.nom }}</td>
            <td>{{ item.prenom }}</td>
            <td>{{ item.email }}</td>
            {% if tel %}
          <td>{{ item.tel }}</td>
          {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
