{% extends 'index.html' %}

{% block content %}
  <div class="container p-3">
    <div class="card">
      <div class="card-body">
        <h2>Liste des contacts Mails</h2>
    <table id="myTable" class="table table-triped table-bordered table-responsive">
      <thead>
        <tr class="table-header">
          <td class="p-2" >Nom</td>
          <td class="p-2" >prenom</td>
          <td class="p-2" >addresse Mail</td>
          
          {% if tel %}
          <td class="p-2" >Téléhone</td>
          {% endif %}
            
        </tr>
      </thead>
      <tbody>
        {% for item in mails %}
          <tr>
            <td class="p-2" >{{ item.nom }}</td>
            <td class="p-2" >{{ item.prenom }}</td>
            <td class="p-2" >{{ item.email }}</td>
            {% if tel %}
          <td class="p-2" >{{ item.tel }}</td>
          {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
      </div>
    </div>
  </div>
{% endblock %}
